<a href="https://colab.research.google.com/github/ibtihelgharsalah/house-price-prediction/blob/main/hpa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**predicting house prices using multiple linear regression**
---

In [7]:
import pandas as pd
from sklearn import linear_model

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [9]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/housepricesdataset.csv")

The whole dataset :

In [10]:
df

   area  roomcount  buildingage   price
0   180          5           10  510000
1   225          4           18  508000
2   260          3            2  548000
3   320          6           10  650000
4   335          4            9  628000
5   345          5           14  632000
6   355          3            0  680000
7   400          4           10  725000

Feature set :

In [20]:
X = df[["area","roomcount","buildingage"]]
X

   area  roomcount  buildingage
0   180          5           10
1   225          4           18
2   260          3            2
3   320          6           10
4   335          4            9
5   345          5           14
6   355          3            0
7   400          4           10

Output data :

In [21]:
Y = df[["price"]]
Y

    price
0  510000
1  508000
2  548000
3  650000
4  628000
5  632000
6  680000
7  725000

Defining a linear regression model :

In [22]:
reg = linear_model.LinearRegression()
reg.fit(X,Y)

LinearRegression()

Predicting a house price with 230 sm area, 4 rooms and 10 years old building :

In [23]:
reg.predict([[230,4,10]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([[530243.29284619]])

Predicting a house price with 355 sm area, 3 rooms and 20 years old building :

In [24]:
reg.predict([[355,3,20]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([[616657.45791365]])

Predicting a house price with 230 sm area, 6 rooms and 0 years old building :

In [25]:
reg.predict([[230,6,0]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([[586097.7833456]])

Seeing the coefficients of the multilinear regression model - that is - the importance of each feature in making the good prediction :

multi linear regression formula : Y = a + b1*X1 + b2*X2 + b3*X3

In [29]:
reg.coef_

array([[ 1018.99865454, 14893.82374984, -2606.68429997]])

In [32]:
reg.intercept_

array([262365.15030321])

In [42]:
a= reg.intercept_
b1= reg.coef_[0][0]
b2= reg.coef_[0][1]
b3= reg.coef_[0][2]

X1= 230
X2= 4
X3= 10

y = a + b1*X1 + b2*X2 + b3*X3
y

array([530243.29284619])